/* 60 Second Docs STYLES
-------------------------------------------------*/

@60-yellow: #e9d330;

#sixty-sec-docs {
  width: 100%;
  .banner-thumbnail-wrapper {
    background-color: @60-yellow;
  }
  
}